

/*##################################*/
/*############# GRILLE #############*/
/*#################################*/


/*############section 1 header #############*/
.container-fluid{
    background: url(images/fondheader.png) no-repeat center;
    background-size: cover;
    height: 950px;
    color: white;
}
#hauteur-col{
    height: 850px;
}

/*############section 3 contenu mis en avant #############*/
#section3range p{
    margin: 40px auto;
}
#bloc1{
    font-size: 0.8em;   
    height: 280px;
    color: white;
    background-color: #f5989d;
}
#bloc2{
    font-size: 0.8em;   
    height: 280px;
    color: white;
    background-color: #615f7d;
}
#bloc3{
    font-size: 0.8em;   
    height: 280px;
    color: white;
    background-image:url(images/bloc3.png);
}
#bloc4{
    font-size: 0.8em;   
    height: 280px;
    color: white;
    background-image: url(images/bloc4.png);
}
#bloc5{
    font-size: 0.8em;   
    height: 280px;
    color: white;
    background-color: #82ca9c;
}

/*############ section 4 details #############*/
#details{
    height: 530px;
   
}

#details .container h2{
    margin-bottom: 50px;
}
#details .container h4{
    margin-bottom: 20px;
    font-weight: bold;
}

/*############ section 5 bigpicture #############*/
#big-picture{
    background-image: url(images/bigpicture.png);
    background-size: cover; 
    max-width: 100%;
    height: auto;
    color: white;
}
#big-picture h1{
    margin-top: 60%;
    margin-bottom: 40px;
    color: white;
}
#big-picture p:last-of-type{
    margin-top: 5%;
    margin-bottom: 30%;
  
}

/*############ section 6 about #############*/

#about{
    height: 530px;
    background-color: #82ca9c;
    color: white;
    margin-top:-20px;
}
#about h2{
    margin-top: 10%;
    margin-bottom: 3%;
}

#about div[class*="col"]{
    

}
/*############ section 7 price ranges #############*/

#price-ranges{
    height: 530px;
}
#price-ranges h2{
    margin-top: 10%;
    margin-bottom: 6%;
}
#price-ranges img{
    margin: 4% 2%;
}
/*############ footer #############*/
#footer{
    background-color: #141e28;
    color: #8d9bb1;
}