body {
    font-family: 'Open Sans', sans-serif;
}
h1 {
    color: #f00f0f;
}

/*##################################*/
/*############# GRILLE #############*/
/*#################################*/

#headerimage{
    background: url(images/fondheader.png) no-repeat center;
    
}
#footer{
    background-color: #141e28;
    color: #8d9bb1;
}