body {
    font-family: 'Open Sans', sans-serif;
}
h1 {
    color: #f00f0f;
}

/*##################################*/
/*############# GRILLE #############*/
/*#################################*/

.container{
    width: 1230px;
}
      
    
/*############Header##########*/


#phonefloat{
    float: right;
}
